.spell-sequence {
  width: 270px;
  height: 50px;
  border: 1px solid black;
  margin: auto;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}

.sequence {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  margin: -500px auto;
  position: relative;
  background-color: white;
}

.sequence-number {
  width: 80%;
  margin-left: 51px;
  text-align: center;
  font-size: 21px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.sequence-number > span {
  color: green;
}

.sequence-number > span:last-child {
  color: red;
}

#input-sequence {
  width: 120px;
  height: 50px;
  display: flex;
  margin: 31px auto;
  font-size: 34px;
  text-align: center;
}