.comparison__content {
  width: 700px;
  height: 300px;
  border-radius: 20px;
  margin-top: 10px;
  position: relative;
  margin: -510px auto;
  background-color: white;
  z-index: 110;
}

.comparison__content__operations {
  width: 85%;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: center;
  font-size: 46px;
  border-bottom: 1px solid black;
}

.comparison__content__text {
  width: 65%;
  text-align: center;
  font-size: 24px;
  border-bottom: 1px solid black;
  margin: 10px auto;
}

.comparison__content__text > span {
  color: green;
  font-size: 36px;
}

#comparison__input {
  width: 50%;
  height: 20%;
  margin-left: 169px;
  margin-top: 35px;
  font-size: 24px;
  text-align: center;
}

#comparison__inputn::-webkit-input-placeholder {
  font-size: 24px;
}

#comparison__button {
  width: 25%;
  height: 40px;
  margin: 30px auto;
  border: 2px solid rgb(86,69,75);
  background-color: #488cf1;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-size: 18px;
}

#comparison__button:hover {
  color: rgb(255,255,255);
  background: linear-gradient(to right, #0f2f5a 10%, #488cf1 69%, #0f2f5a);
}

#comparison__button:focus {
  color: rgb(255,255,255);
  background: linear-gradient(to right, #0f2f5a 10%, #488cf1 69%, #0f2f5a);
}
