@keyframes activeHeadPlayer {
  from {
    margin-top: -103px;
  }

  to {
    margin-top: -97px;
  }
}

@keyframes playerAttack_Head {
  from {
    height: 176px;
    margin-left: -151px;
    margin-top: -103px;
    z-index: 12;
  }
  
  to {
    height: 176px;
    margin-left: -151px;
    margin-top: -103px;
    z-index: 12;
    transform: rotate(-6deg);
  }
} 

@keyframes playerAttack_Body {
  0% {
    width: 175px;
    height: 188px;
    z-index: 10;
  }

  50% {
    width: 175px;
    height: 188px;
    z-index: 10;
    transform: rotate(-4deg);
  }

  100% {
    width: 175px;
    height: 188px;
    z-index: 10;
  }
}

@keyframes playerAttack_LeftHand {
  0% {
    height: 120px;
    margin-left: 17px;
    margin-top: 46px;
    z-index: 2;
  }

  50% {
    height: 120px;
    margin-left: 42px;
    margin-top: 3px;
    z-index: 2;
    transform: rotate(-60deg);
  }

  100% {
    height: 120px;
    margin-left: 17px;
    margin-top: 46px;
    z-index: 2;
  }
}

@keyframes playerAttack_rightHand {
  0% {
    height: 130px;
    margin-left: -159px;
    margin-top: 54px;
    z-index: 11;
  }

  50% {
    height: 130px;
    margin-left: -159px;
    margin-top: 54px;
    z-index: 11;
    transform: rotate(20deg);
  }

  100% {
    height: 130px;
    margin-left: -159px;
    margin-top: 54px;
    z-index: 11;
  }
}

@keyframes playerAttack_LeftFinger {
  0% {
    height: 69px;
    margin-top: 99px;
    margin-left: -38px;
    z-index: 4;
  }
  
  50% {
    height: 66px;
    margin-top: 4px;
    margin-left: -32px;
    z-index: 4;
    transform: rotate(-60deg);
  }

  100% {
    height: 69px;
    margin-top: 99px;
    margin-left: -38px;
    z-index: 4;
  }
}

@keyframes playerAttack_leftLeg {
  0% {
    height: 77px;
    margin-top: 156px;
    margin-left: -130px;
    z-index: 5;
  }

  50% {
    height: 77px;
    margin-top: 156px;
    margin-left: -130px;
    z-index: 5;
    transform: rotate(8deg);
  }

  100% {
    height: 77px;
    margin-top: 156px;
    margin-left: -130px;
    z-index: 5;
  }
}

@keyframes playerAttack_Weapon {
  0% {
    height: 210px;
    margin-left: -59px;
    margin-top: -15px;
    z-index: 3;
  }

  50% {
    height: 210px;
    margin-left: -113px;
    margin-top: -111px;
    z-index: 3;
    transform: rotate(-60deg);
  }

  100% {
    height: 210px;
    margin-left: -59px;
    margin-top: -15px;
    z-index: 3;
  }
}

.mage-body {
  width: 175px;
  height: 188px;
  z-index: 10;
}

.mage-head {
  height: 176px;
  margin-left: -151px;
  margin-top: -103px;
  z-index: 12;
}

.mage-head.activeHead {
  animation: activeHeadPlayer 0.8s linear infinite alternate;
  height: 176px;
  margin-left: -151px;
  margin-top: -103px;
  z-index: 12;
}

.mage-leftLeg {
  height: 77px;
  margin-top: 156px;
  margin-left: -130px;
  z-index: 5;
}

.mage-RightLeg {
  height: 75px;
  margin-top: 150px;
  margin-left: -26px;
  z-index: 4;
}

.mage-leftHand {
  height: 120px;
  margin-left: 17px;
  margin-top: 46px;
  z-index: 2;
}

.mage-rightHand {
  height: 130px;
  margin-left: -159px;
  margin-top: 54px;
  z-index: 11;
}

.mage-leftFinger {
  height: 69px;
  margin-top: 99px;
  margin-left: -38px;
  z-index: 4;
}

.mage-weapon {
  height: 210px;
  margin-left: -59px;
  margin-top: -15px;
  z-index: 3;
}

.mage-body_active  {
  animation: playerAttack_Body 1s linear;
  width: 175px;
  height: 188px;
  z-index: 10;
}

.mage-head_active {
  animation: playerAttack_Head 1s linear;
  height: 176px;
  margin-left: -151px;
  margin-top: -103px;
  z-index: 12;
}

.mage-leftLeg_active {
  animation: playerAttack_leftLeg 1s linear;
  height: 77px;
  margin-top: 156px;
  margin-left: -130px;
  z-index: 5;
}

.mage-leftHand_active {
  animation: playerAttack_LeftHand 1s linear;
  height: 120px;
  margin-left: 17px;
  margin-top: 46px;
  z-index: 2;
}

.mage-rightHand_active {
  animation: playerAttack_rightHand 1s linear;
  height: 130px;
  margin-left: -159px;
  margin-top: 54px;
  z-index: 11;
}

.mage-leftFinger_active {
  animation: playerAttack_LeftFinger 1s linear;
  height: 69px;
  margin-top: 99px;
  margin-left: -38px;
  z-index: 4;
}

.mage-weapon_active {
  animation: playerAttack_Weapon 1s linear;
  height: 210px;
  margin-left: -59px;
  margin-top: -15px;
  z-index: 3;
}

.spell.frostbolt {
  width: 50px;
  height: 54px;
  transform: rotate(132deg);
  z-index: 15;
  transition: left 500ms;
  left: 305px;
  top: -25px;
  position: absolute;
  visibility: hidden;
}

.spell.heal {
  z-index: 1;
  position: absolute;
  top: 171px;
  left: -15px;
  visibility: hidden;
}

/* ********************** */

@keyframes player_takeDamage_Head {
  from {
    height: 176px;
    margin-left: -151px;
    margin-top: -103px;
    z-index: 12;
  }

  to {
    transform: rotate(-12deg);
    height: 176px;
    margin-left: -155px;
    margin-top: -103px;
    z-index: 12;
  }
}

@keyframes player_takeDamage_Body {
  from {
    width: 175px;
    height: 188px;
    z-index: 10;
  }

  to {
    transform: rotate(-7deg);
    width: 175px;
    height: 188px;
    z-index: 10;   
  }
}

@keyframes player_takeDamage_rightHand {
  from {
    height: 130px;
    margin-left: -159px;
    margin-top: 54px;
    z-index: 11;
  }

  to {
    transform: rotate(-16deg);
    height: 130px;
    margin-left: -150px;
    margin-top: 54px;
    z-index: 11;   
  }
}

@keyframes player_takeDamage_leftHand {
  from {
    height: 120px;
    margin-left: 17px;
    margin-top: 46px;
    z-index: 2;
  }

  to {
    transform: rotate(-8deg);
    height: 120px;
    margin-left: 13px;
    margin-top: 39px;
    z-index: 2;   
  }
}

@keyframes player_takeDamage_finger {
  from {
    height: 69px;
    margin-top: 99px;
    margin-left: -38px;
    z-index: 4;
  }

  to {
    transform: rotate(-14deg);
    height: 69px;
    margin-top: 84px;
    margin-left: -35px;
    z-index: 4;  
  }
}

@keyframes player_takeDamage_weapon {
  from {
    height: 210px;
    margin-left: -59px;
    margin-top: -15px;
    z-index: 3;
  }

  to {
    transform: rotate(-10deg);
    height: 210px;
    margin-left: -66px;
    margin-top: -36px;
    z-index: 3; 
  }
}

@keyframes player_takeDamage_rightLeg {
  from {
    height: 75px;
    margin-top: 150px;
    margin-left: -26px;
    z-index: 4;
  }

  to {
    transform: rotate(-12deg);
    height: 75px;
    margin-top: 150px;
    margin-left: -26px;
    z-index: 4;
  }
}

@keyframes player_takeDamage_leftLeg {
  from {
    height: 77px;
    margin-top: 156px;
    margin-left: -130px;
    z-index: 5;
  }

  to {
    transform: rotate(-6deg);
    height: 77px;
    margin-top: 156px;
    margin-left: -130px;
    z-index: 5;   
  }
}

.mage-take-damage_head {
  animation: player_takeDamage_Head 0.5s linear;
  height: 176px;
  margin-left: -151px;
  margin-top: -103px;
  z-index: 12;
}

.mage-take-damage_body {
  animation: player_takeDamage_Body 0.5s linear;
  width: 175px;
  height: 188px;
  z-index: 10;
}

.mage-take-damage_rightHand {
  animation: player_takeDamage_rightHand 0.5s linear;
  height: 130px;
  margin-left: -159px;
  margin-top: 54px;
  z-index: 11;
}

.mage-take-damage_leftHand {
  animation: player_takeDamage_leftHand 0.5s linear;
  height: 120px;
  margin-left: 17px;
  margin-top: 46px;
  z-index: 2;
}

.mage-take-damage_leftFinger {
  animation: player_takeDamage_finger 0.5s linear;
  height: 69px;
  margin-top: 99px;
  margin-left: -38px;
  z-index: 4;
}

.mage-take-damage_weapon {
  animation: player_takeDamage_weapon 0.5s linear;
  height: 210px;
  margin-left: -59px;
  margin-top: -15px;
  z-index: 3;
}

.mage-take-damage_rightLeg {
  animation: player_takeDamage_rightLeg 0.5s linear;
  height: 75px;
  margin-top: 150px;
  margin-left: -26px;
  z-index: 4;
}

.mage-take-damage_leftLeg {
  animation: player_takeDamage_leftLeg 0.5s linear;
  height: 77px;
  margin-top: 156px;
  margin-left: -130px;
  z-index: 5;
}

/* ************************************************ */

@keyframes player-take-heal_rightHand {
  0% {
    height: 130px;
    margin-left: -159px;
    margin-top: 54px;
    z-index: 11;
  }

  50% {
    transform: rotate(10deg);
    height: 130px;
    margin-left: -164px;
    margin-top: 57px;
    z-index: 11;
  }

  100% {
    transform: rotate(10deg);
    height: 130px;
    margin-left: -164px;
    margin-top: 57px;
    z-index: 11;
  }
}

@keyframes player-take-heal_leftHand {
  0% {
    height: 120px;
    margin-left: 17px;
    margin-top: 46px;
    z-index: 2;
  }

  50% {
    transform: rotate(-27deg);
    height: 120px;
    margin-left: 24px;
    margin-top: 38px;
    z-index: 2;
  }

  100% {
    transform: rotate(-27deg);
    height: 120px;
    margin-left: 24px;
    margin-top: 38px;
    z-index: 2;
  }
}

@keyframes player-take-heal_finger {
  0% {
    height: 69px;
    margin-top: 99px;
    margin-left: -38px;
    z-index: 4;
  }

  50% {
    height: 69px;
    margin-top: 69px;
    margin-left: -35px;
    z-index: 4;
    transform: rotate(-17deg); 
  }

  100% {
    height: 69px;
    margin-top: 69px;
    margin-left: -35px;
    z-index: 4;
    transform: rotate(-17deg); 
  }
}

@keyframes player-take-heal_weapon {
  0% {
    height: 210px;
    margin-left: -59px;
    margin-top: -15px;
    z-index: 3;
  }

  50% {
    transform: rotate(-9deg);
    height: 210px;
    margin-left: -65px;
    margin-top: -48px;
    z-index: 3; 
  }

  100% {
    transform: rotate(-9deg);
    height: 210px;
    margin-left: -65px;
    margin-top: -48px;
    z-index: 3;
  }
}

.mage-take-heal_rightHand {
  animation: player-take-heal_rightHand 1s linear;
  height: 130px;
  margin-left: -159px;
  margin-top: 54px;
  z-index: 11;
}

.mage-take-heal_leftHand {
  animation: player-take-heal_leftHand 1s linear;
  height: 120px;
  margin-left: 17px;
  margin-top: 46px;
  z-index: 2;
}

.mage-take-heal_leftFinger {
  animation: player-take-heal_finger 1s linear;
  height: 69px;
  margin-top: 99px;
  margin-left: -38px;
  z-index: 4;
}

.mage-take-heal_weapon {
  animation: player-take-heal_weapon 1s linear;
  height: 210px;
  margin-left: -59px;
  margin-top: -15px;
  z-index: 3;
}