@keyframes shake {
  0%, 50%, 100% {
    transform: rotate(0deg);
  } 

  10%, 30% {
    transform: rotate(-7deg);
  }

  20%, 40% {
    transform: rotate(7deg);
  }
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.shadow {
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.button__start-fight {
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: center;
  font-size: 30px;
  margin: auto;
  margin-top: 120px;
  border: 2px solid rgb(86,69,75);
  background-color: rgb(113,10,3);
  color: rgb(192,150,14);
  border-radius: 5px;
  font-weight: 600;
  text-shadow: #000 1px 0 0px, #000 0 1px 0px, #000 -1px 0 1px, #000 0 -1px 0px;
}

.button__start-fight:hover {
  color: rgb(255,255,255);
  background: linear-gradient(to right, #670402 10%, #de1101 69%, #670402);
}

.button__start-fight:focus {
  color: rgb(255,255,255);
  background: linear-gradient(to right, #670402 10%, #de1101 69%, #670402);
}

.test {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  font-size: 36px;
  margin: auto;
}

.hpBars {
  display: flex;
  color: white;
  font-size: 27px;
  font-weight: 800;
  text-shadow: #000 1px 0 0px, #000 0 1px 0px, #000 -1px 0 0px, #000 0 -1px 0px;
}

.placeModel {
  display: flex;
  margin-top: 50px;
}

.player-Model {
  display: flex;
  width: 50%;
  height: 500px;
}

.player-Model > .conteiner {
  display: flex;
  width: 175px;
  height: 188px;
  margin: 267px auto 0 auto;
  position: relative;
}

.player {
  margin: auto;
}

.player-name {
  margin-bottom: 0;
  text-align: center;
  
}

.player-hp {
  width: 500px;
  height: 20px;
  border: 2px solid rgb(236, 229, 156);
  border-radius: 50px;
  margin-top: 10px;
}

.player-hp > span {
  width: 500px;
  transition: width 1s;
  display: block;
  height: 100%;
  background-color: rgb(19, 179, 52);
  border-radius: 50px;
  position: relative;
}

.enemy-Model {
  width: 50%;
  height: 500px;
  display: flex;
}

.enemy-Model .conteiner {
  display: flex;
  width: 175px;
  height: 188px;
  margin: 267px auto 0 auto;
  position: relative;
}

.enemy {
  margin: auto;
}

.enemy-name {
  margin-bottom: 0;
  text-align: center;
}

.enemy-hp {
  width: 500px;
  height: 20px;
  border: 2px solid rgb(236, 229, 156);
  border-radius: 50px;
  margin-top: 10px
}

.enemy-hp > span {
  width: 500px;
  transition: width 1s;
  display: block;
  height: 100%;
  background-color: rgb(19, 179, 52);
  border-radius: 50px;
  position: relative;
}



