.sort {
  width: 500px;
  height: 250px;
  border-radius: 15px;
  position: relative;
  background-color: white;
  margin: -510px auto;
  display: flex;
  flex-wrap: wrap;
  z-index: 110;
}

.sort__content {
  width: 100%;
  height: 39px;
  text-align: center;
  font-size: 25px;
  margin-bottom: 0;

}

.sortable__content {
  display: flex;
  width: 100%;
  height: 88px;
}

#ui-state-default {
  border: 1px solid black;
}

#sortable {
  display: flex;
  list-style-type: none;
  height: 60px;
  padding: 0;
  margin: 30px auto;
}

#sortable li { 
  margin: 3px 3px 3px 0;
  padding: 1px;
  float: left;
  width: 50px;
  height: 50px;
  font-size: 2em;
  text-align: center;
  background-color: aliceblue;
}

#sort__button {
  width: 32%;
  height: 40px;
  margin: 0 auto;
  border: 2px solid rgb(86,69,75);
  background-color: #488cf1;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-size: 18px;
}

#sort__button:hover {
  color: rgb(255,255,255);
  background: linear-gradient(to right, #0f2f5a 10%, #488cf1 69%, #0f2f5a);
}

#sort__button:focus {
  color: rgb(255,255,255);
  background: linear-gradient(to right, #0f2f5a 10%, #488cf1 69%, #0f2f5a);
}