.spell-grammatic {
  width: 270px;
  height: 50px;
  border: 1px solid black;
  margin: auto;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}

.grammatic {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  margin: -500px auto;
  position: relative;
  background-color: white;
}

.grammatic-word {
  text-align: center;
  font-size: 28px;
}

.grammatic-word > span {
  color: green;
}

#grammatic-button {
  margin: 20px 192px;
  font-size: 25px;
}