table {
  border-collapse: collapse;
  margin-top: 20px;
}
td, tr {
  height: 20px;
  border: 1px solid black;
  z-index: 1;
}

.tooltip::after {
  border: 1px solid black;
  background-color: white;
  min-width: 100px;
  height: 20px;
	content: attr(data-tooltip); 
	opacity: 0; 
  position: absolute;
  margin-top: -20px;
	visibility: hidden; 
  transition: all 0.8s;
}

.tooltip:hover::after {
	opacity: 1;
	visibility: visible;
}

#render {
  display: none;
  position: fixed;
  right: 200px;
  top: 100px;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  background-color: rgb(220, 200, 220);
}

#chart {
  max-width: 1200px;
  max-height: 500px;
}