.speech-content {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  position: relative;
  margin: -500px auto;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  z-index: 110;
}

.speech-content__text {
  text-align: center;
  font-size: 26px;
  width: 90%;
}

#speech__button {
  width: 30px;
  height: 21px;
  margin: auto 10px;
  color: darkgoldenrod;
}

#speech__input {
  display: block;
  height: 40px;
  width: 200px;
  margin: 35px auto;
  text-align: center;
  font-size: 20px;
}