.spell-pazzle {
  width: 270px;
  height: 50px;
  border: 1px solid black;
  margin: auto;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}

.pazzle {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  margin: -500px auto;
  position: relative;
  background-color: white;
}

.pazzle-content {
  font-size: 21px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  width: 80%;
  display: flex;
  margin: 26px auto;
  justify-content: center;
}

#input-pazzle {
  display: flex;
  margin: 10px auto;
  width: 50%;
  height: 25px;
  text-align: center;
}