.pazzle-content {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  margin: -500px auto;
  position: relative;
  background-color: white;
  z-index: 110;
}

.pazzle-content__text {
  font-size: 21px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  width: 80%;
  display: flex;
  margin: 26px auto;
  justify-content: center;
}

#pazzle-form__input {
  display: flex;
  margin: 10px auto;
  width: 50%;
  height: 25px;
  text-align: center;
}

#pazzle-form__button {
  width: 25%;
  height: 40px;
  margin: auto;
  border: 2px solid rgb(86,69,75);
  background-color: #488cf1;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-size: 18px;
}

#pazzle-form__button:hover {
  color: rgb(255,255,255);
  background: linear-gradient(to right, #0f2f5a 10%, #488cf1 69%, #0f2f5a);
}

#pazzle-form__button:focus {
  color: rgb(255,255,255);
  background: linear-gradient(to right, #0f2f5a 10%, #488cf1 69%, #0f2f5a);
}