.translate__content {
  width: 500px;
  height: 260px;
  border-radius: 15px;
  margin-top: 10px;
  position: relative;
  background-color: white;
  margin: -500px auto;
  z-index: 110;
}

.translate__content__word {
  text-align: center;
  font-size: 25px;
  border-bottom: 1px solid black;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
}

.translate__content__word  > span {
  color: green;
}

#translate__input {
  width: 200px;
  height: 30px;
  margin: 48px 148px;
  text-align: center;
}

#translate__button {
  width: 25%;
  height: 40px;
  margin: auto;
  border: 2px solid rgb(86,69,75);
  background-color: #488cf1;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-size: 18px;
}

#translate__button:hover {
  color: rgb(255,255,255);
  background: linear-gradient(to right, #0f2f5a 10%, #488cf1 69%, #0f2f5a);
}

#translate__button:focus {
  color: rgb(255,255,255);
  background: linear-gradient(to right, #0f2f5a 10%, #488cf1 69%, #0f2f5a);
}